---
import Layout from '../layouts/Layout.astro';
---
<Layout title="My Artistic Blog">
  <h2>Latest Posts</h2>
  <ul>
    <li><a href="/posts/watercolor-dreams">Watercolor Dreams – My Latest Landscape Series</a></li>
  </ul>
</Layout>